{% extends "post.html" %}
{% load django_markdown %}

{% block deco %}
<script>

    function myFunction1() {
        document.getElementById("myDiv").style.backgroundColor="lightblue";
    }
    function myFunction2() {
        document.getElementById("myDiv").style.backgroundColor="red";
    }
    function myFunction3() {
        document.getElementById("myDiv").style.backgroundColor="black";
    }
    function myFunction4() {
        document.getElementById("myDiv").style.backgroundColor="yellow";
    }
    $("input[name='myFileSelect']").on("change", function(){

        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if ( !files.length || !window.FileReader ) return;

        // Only proceed if the selected file is an image
        if ( /^image/.test( files[0].type ) ) {

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL( files[0] );

            // When loaded, set image data as background of page
            reader.onloadend = function(){

                $("#myDiv").css("background-image", "url(" + this.result + ")");

            }

        }

    });
</script>
{% endblock %}